<table>
<tbody>
  <tr>
    <th width="50%">
      PODDP for Left Goal
    </th>
    <th width="50%">
      PODDP for Right Goal
    </th>
  </tr>
  <tr>
    <th width="50%">
      <a href="assets/raw/TMaze_PODDP_L.gif" target="_blank">
        <img src="assets/thumb/TMaze_PODDP_L.gif">
      </a>
    </th>
    <th width="50%">
      <a href="assets/raw/TMaze_PODDP_R.gif" target="_blank">
        <img src="assets/thumb/TMaze_PODDP_R.gif">
      </a>
    </th>
  </tr>
  <tr>
    <th width="50%">
      MLDDP for Left Goal
    </th>
    <th width="50%">
      MLDDP for Right Goal
    </th>
  </tr>
  <tr>
    <th width="50%">
      <a href="assets/raw/TMaze_MLDDP_L.gif" target="_blank">
        <img src="assets/thumb/TMaze_MLDDP_L.gif">
      </a>
    </th>
    <th width="50%">
      <a href="assets/raw/TMaze_MLDDP_R.gif" target="_blank">
        <img src="assets/thumb/TMaze_MLDDP_R.gif">
      </a>
    </th>
  </tr>
  <tr>
    <th width="50%">
      PWDDP for Left Goal
    </th>
    <th width="50%">
      PWDDP for Right Goal
    </th>
  </tr>
  <tr>
    <th width="50%">
      <a href="assets/raw/TMaze_PWDDP_L.gif" target="_blank">
        <img src="assets/thumb/TMaze_PWDDP_L.gif">
      </a>
    </th>
    <th width="50%">
      <a href="assets/raw/TMaze_PWDDP_R.gif" target="_blank">
        <img src="assets/thumb/TMaze_PWDDP_R.gif">
      </a>
    </th>
  </tr>
</tbody>
</table>
