<table>
<tbody>
  <tr>
    <th width="50%">
      PODDP for Smooth Terrain
    </th>
    <th width="50%">
      PODDP for Muddy Terrain
    </th>
  </tr>
  <tr>
    <th width="50%">
      <a href="assets/raw/MuddyTrack_PODDP_F.gif" target="_blank">
        <img src="assets/thumb/MuddyTrack_PODDP_F.gif">
      </a>
    </th>
    <th width="50%">
      <a href="assets/raw/MuddyTrack_PODDP_S.gif" target="_blank">
        <img src="assets/thumb/MuddyTrack_PODDP_S.gif">
      </a>
    </th>
  </tr>
  <tr>
    <th width="50%">
      MLDDP for Smooth Terrain
    </th>
    <th width="50%">
      MLDDP for Muddy Terrain
    </th>
  </tr>
  <tr>
    <th width="50%">
      <a href="assets/raw/MuddyTrack_MLDDP_F.gif" target="_blank">
        <img src="assets/thumb/MuddyTrack_MLDDP_F.gif">
      </a>
    </th>
    <th width="50%">
      <a href="assets/raw/MuddyTrack_MLDDP_S.gif" target="_blank">
        <img src="assets/thumb/MuddyTrack_MLDDP_S.gif">
      </a>
    </th>
  </tr>
  <tr>
    <th width="50%">
      PWDDP for Smooth Terrain
    </th>
    <th width="50%">
      PWDDP for Muddy Terrain
    </th>
  </tr>
  <tr>
    <th width="50%">
      <a href="assets/raw/MuddyTrack_PWDDP_F.gif" target="_blank">
        <img src="assets/thumb/MuddyTrack_PWDDP_F.gif">
      </a>
    </th>
    <th width="50%">
      <a href="assets/raw/MuddyTrack_PWDDP_S.gif" target="_blank">
        <img src="assets/thumb/MuddyTrack_PWDDP_S.gif">
      </a>
    </th>
  </tr>
</tbody>
</table>
