<table>
<tbody>
  <tr>
    <th width="50%">
      PODDP v.s. Aggressive Agent
    </th>
    <th width="50%">
      PODDP v.s. Nice Agent
    </th>
  </tr>
  <tr>
    <th width="50%">
      <a href="assets/raw/LaneChange_PODDP_A.gif" target="_blank">
        <img src="assets/thumb/LaneChange_PODDP_A.gif">
      </a>
    </th>
    <th width="50%">
      <a href="assets/raw/LaneChange_PODDP_N.gif" target="_blank">
        <img src="assets/thumb/LaneChange_PODDP_N.gif">
      </a>
    </th>
  </tr>
  <tr>
    <th width="50%">
      MLDDP v.s. Aggressive Agent
    </th>
    <th width="50%">
      MLDDP v.s. Nice Agent
    </th>
  </tr>
  <tr>
    <th width="50%">
      <a href="assets/raw/LaneChange_MLDDP_A.gif" target="_blank">
        <img src="assets/thumb/LaneChange_MLDDP_A.gif">
      </a>
    </th>
    <th width="50%">
      <a href="assets/raw/LaneChange_MLDDP_N.gif" target="_blank">
        <img src="assets/thumb/LaneChange_MLDDP_N.gif">
      </a>
    </th>
  </tr>
  <tr>
    <th width="50%">
      PWDDP v.s. Aggressive Agent
    </th>
    <th width="50%">
      PWDDP v.s. Nice Agent
    </th>
  </tr>
  <tr>
    <th width="50%">
      <a href="assets/raw/LaneChange_PWDDP_A.gif" target="_blank">
        <img src="assets/thumb/LaneChange_PWDDP_A.gif">
      </a>
    </th>
    <th width="50%">
      <a href="assets/raw/LaneChange_PWDDP_N.gif" target="_blank">
        <img src="assets/thumb/LaneChange_PWDDP_N.gif">
      </a>
    </th>
  </tr>
</tbody>
</table>
