<div>
  <div>
    <a href="http://www.roboticsproceedings.org/rss16/p069.pdf" target="_blank">
      <img src="assets/paper_overview.png" width="100%" style="border: 1px solid; border-color: #888888; -webkit-box-shadow:3px 3px 5px 0 rgba(0,0,0,0.17); -moz-box-shadow:3px 3px 5px 0 rgba(0,0,0,0.17); box-shadow:3px 3px 5px 0 rgba(0,0,0,0.17);">
    </a>
  </div>
  <div style="text-align: center;">
    [ <a href="http://www.roboticsproceedings.org/rss16/p069.pdf" target="_blank">RSS 2020 Proceedings</a> ] [ <a href="/poddp-paper/paper/poddp.pdf" target="_blank">Full Paper</a> ] [ <a href="/poddp-paper/paper/poddp_supplementary.pdf" target="_blank">Supplementary</a> ]
  </div>
</div>
<p></p>
