<div>
  <div style="text-align: center; position: relative; width: 100%; height: 0; padding-bottom: 56.25%;">
    <iframe src="https://www.youtube.com/embed/zVNIqI9f30g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
  </div>
  <div style="text-align: center;">
    [ <a href="https://youtu.be/zVNIqI9f30g" target="_blank">YouTube</a> ] [ <a href="https://www.bilibili.com/video/bv1RZ4y1M7xF" target="_blank">bilibili</a> ]
  </div>
</div>
